[user]
    name = Pig Fang
    email = g-plane@hotmail.com
[pull]
    rebase = true
[push]
    useForceIfIncludes = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
[init]
    defaultBranch = main
[commit]
    gpgSign = true
[tag]
    forceSignAnnotated = true
    gpgSign = true
    sort = v:refname
[remote.origin]
    tagOpt = --tags
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
